@using CardGamesLibrary.Shared
@using System.Globalization

@if (Card == null)
{
    <div class="go-fish-card card-back">🂠</div>
}
else
{
    <div class="go-fish-card @(Highlight ? "highlight-green" : "")">
        <span class="card-rank">@GetRankSymbol(Card.Rank)</span>
        <span class="ms-1 @(IsRedSuit(Card.Suit) ? "text-danger" : "")">@GetSuitSymbol(Card.Suit)</span>
    </div>
}

@code {
    [Parameter] public Card? Card { get; set; }
    [Parameter] public bool Highlight { get; set; } = false;

    private string GetSuitSymbol(Suit suit) => suit switch
    {
        Suit.Clubs => "♣",
        Suit.Diamonds => "♦",
        Suit.Hearts => "♥",
        Suit.Spades => "♠",
        _ => "?"
    };

    private string GetRankSymbol(Rank rank) => rank switch
    {
        Rank.Ace => "A",
        Rank.Jack => "J",
        Rank.Queen => "Q",
        Rank.King => "K",
        _ => ((int)rank).ToString(CultureInfo.InvariantCulture)
    };

    private bool IsRedSuit(Suit suit)
    {
        return suit == Suit.Hearts || suit == Suit.Diamonds;
    }
}
